
p {
    display: inline;
}
.card-body{
    background-color: #007bff;
    color: white;
}

#today{
    position: relative;
    height: 300px;
    width: 350px;
    top: -20px;
    float: left;
    left: 500px;
}
.card{
    width: 250px;
    border: 1px solid white;
}
.card-body{
    float: left;
    width: 13%;
}
#cards{
    position: relative;
    top: 300px;
    margin-top: 10px;
}